 
<!-- mapOnly === false && -->
<div *ngIf="( location !== null && location !== undefined )" >
 
        <input [(ngModel)]="location.Name" name="name" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"
                 placeholder="Location Name" style="width:100%;" />
                
        <h6>{{location?.Address1}}</h6>
        <h6>{{location?.City}}</h6>
        <h6>{{location?.State}}</h6>
        <br/>
</div>

<div *ngIf="changeLocation === false && ShowChangeLocationButton === true">
        <input type="button"   (click)="toggleSelectLocationView()"
        style="width:100%;
        display:block;margin: auto; 
        border-radius: 2px;
        background-color: #bdc3c7;   
        border: none;   
        color: white;   
        padding: 16px 16px;   
        text-decoration: none;   
        cursor: pointer;"
            value="{{btnChangeLocationTitle}}"/>
</div>
<div *ngIf="changeLocation === true && ShowPreviousLocationsCBO === true"  >
    <p-dropdown  [options]="previousLocations"  name="Location" appendTo="body"
    (onChange)="onCboChangePreviousLocation($event )"
    placeholder="Previous locations.."
    [style]="{  'width':'100%','z-index':'900 !important', 'position':'relative  !important'}"
    [(ngModel)]="category"  ></p-dropdown>

    <br/>
    <div   style="width:100%; text-align: center;">
        <label style="font-weight: bold;">OR</label>
    </div>
</div>
<div *ngIf="changeLocation === true" style="padding-top: 15px;">
    <div *ngIf="canGetLocation === true">
    <button type="button"  (click)="getCurrentLocation()"
        style="display: block;
        margin: auto; 
        width:100%;
        border-radius: 2px;
        background-color: #f4f5f8;   
        border: none;   
        color: black;   
        padding: 16px 16px;   
        text-decoration: none;   
        cursor: pointer;" >
        <ion-icon  style="color:red;" name="pin"></ion-icon>
         Use my location..
    </button>
    <br/>
    <div   style="width:100%; text-align: center;">
            <label style="font-weight: bold;">OR</label>
    </div>
    <br/>

    <div *ngIf="ShowSearchOption === true">  
        <span>
            <input type="text" placeholder="Search for location.." [(ngModel)]="query" 
            (ngModelChange)="searchPlace($event)"
                style="width:60%;margin-bottom: 5px;" />
                <p-checkbox label="Google" [(ngModel)]="searchUsingGoogle" binary="searchUsingGoogle" 
                (click)="toggleSearchProvider($event)"></p-checkbox>                            
        </span>
        <div *ngIf="searching === true" ><label>searching...</label></div>
        <div *ngIf="showSearchResults === true">
            <label *ngIf="searching === false && places.length === 0" > No results</label>
            <div *ngFor="let place of places">
 
                <label *ngIf="searchUsingGoogle === false" (click)="selectPlace(place)"  >
                    {{place?.Name}}
                        {{place?.Address1}} {{place?.City}}  {{place?.State}} </label>
                    
                <label *ngIf="searchUsingGoogle" (click)="selectPlace(place)"  >{{place?.Description}} </label>
            </div>
        </div>
    </div> <!--end ShowSearch option-->
    </div>
    <div *ngIf="location !== undefined" >
            <br/>
            <div   style="width:100%; text-align: center;">
                <label style="font-weight: bold;">OR</label>
            </div>
        <label>Enter Location Details:</label>
        <!--*ngIf="location !== null && location !== undefined"
        <input  [(ngModel)]="location.Name" placeholder="Name" type="text" class="nativeInput" style="width:100%;margin-bottom:5px;"   />-->
        <input  [(ngModel)]="location.Address1" placeholder="Address 1"    type="text"  style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.Address2" placeholder="Address 2" type="text"  style="width:100%;margin-bottom:5px;"  />
        <input  [(ngModel)]="location.City" placeholder="City" type="text" style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.State" placeholder="State" type="text"  style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.Country" placeholder="Country"  type="text"  style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.Postal"  placeholder="Postal"  type="text"  style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.Description"  placeholder="Description"  type="text"  style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.Latitude"  placeholder="Latitude"  type="text"  style="width:100%;margin-bottom:5px;" />
        <input  [(ngModel)]="location.Longitude"  placeholder="Longitude"  type="text"  style="width:100%;margin-bottom:5px;" />
    </div>

</div>
<br/>

<div *ngIf="savingEvent === true" style="width:100%; text-align: center;"> 
    <ion-spinner   style="display: block;margin: auto;"  ></ion-spinner>Saving..
</div>
<div *ngIf="savingEvent ===  false"  >
    <button (click)="onSaveItem(true)"  class="login_btn" type="button" expand="block">Save</button>
   
</div>
    
<br/>
<div #mapCanvas class="map-canvas" ></div>
