app-details{ 
 
// This stops the dropdown from being transparent.
.ui-dropdown-panel .ui-dropdown-item {
  background-color: white !important;
  margin:0px !important;
  }

  
  .ui-panel-images {
   // width: 100%;
    height: 100%;
    border-radius: 1%;
}
.ui-galleria-nav-prev, .ui-galleria-nav-next {
  z-index: 902;
  color:red;
  }
 
    .host-detail p {
      color: #60646B;
    }
  
    #map {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .show-map {
      opacity: 1;
    }
  
    label.fileInput input[type="file"] {
      position:absolute;
      top: -1000px;
  }
  
  .fileInput {
      border: 2px solid #AAA;
      border-radius: 4px;
      padding: 2px 5px;
      margin: 2px;
      background: #DDD;
      display: inline-block;
  }
  .fileInput:hover {
      background: #CCC;
  }
  .fileInput:active {
      background: #CCF;
  }
  .fileInput :invalid + span {
      color: #A44;
  }
  .fileInput :valid + span {
      color: #4A4;
  }
  
}