<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="button button-clear" (click)="goBack()" >
          <ion-icon name="arrow-back"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-title>{{item?.Name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-spinner *ngIf="loading === true"  style="display: block;margin: auto;"  ></ion-spinner>

<!-- todo make components for each type(?) then switch - case according to type
   style="display: block;margin: auto;" 
-->
<ion-content *ngIf="isAuthorized === false" padding class="host-detail">
  <h2>Access Denied! </h2>
  <p>
    {{errorMessage}}
  </p>
</ion-content>


<ion-content *ngIf="isAuthorized === true && item !== undefined" padding class="host-detail">
  
 
  <div [ngSwitch]="type" >
    <div *ngSwitchCase="'ACCOUNT'"  >
      <!--
          <img *ngIf="showPrimaryImage === true"
                text-center  [src]="item.Image | getLargeImage" [alt]="item.Name"  style="display: block;margin: auto;">
-->
          <app-image-with-loading *ngIf="showPrimaryImage === true" text-center 
                image="{{item.Image  | getLargeImage}}"   >
          </app-image-with-loading>
          <br>
          <ion-button text-center  style="display: block;margin: auto;" fill="clear" size="medium" 
             (click)="openHostSite(item)" *ngIf="item.WebSite !== null && item.WebSite !== ''" >
            <ion-icon name="globe" slot="icon-only"></ion-icon>
            Website
          </ion-button>
            <div  ><label style="color:black;">{{item?.Description}}</label></div>
  
          <div *ngIf="location !== undefined">
            <br/>
              <fieldset>
                <legend>Location</legend>
                <div>
                <label>{{location?.Name}}</label> <br/>
                </div>
                <div *ngIf="isNullOrWhitespace(location.Address1) === false">
                  <label>{{location?.Address1}}</label><br/>
                </div>
                <div *ngIf="isNullOrWhitespace(location.Address2) === false">
                  <label  >{{location?.Address2}}</label><br/>
                </div>
                <div *ngIf="isNullOrWhitespace(location.City) === false">
                <label>{{location?.City}}, {{location?.State}} {{location?.Postal}}</label> &nbsp;
                </div>
                <div *ngIf="isNullOrWhitespace(location.Country) === false">
                  <label>{{location.Country}}</label><br/>
                </div>
                <div *ngIf="isNullOrWhitespace(location.Description) === false">
                  <label>{{location?.Description}}</label>
                </div>
              </fieldset>
          </div>
          <br/>
          <fieldset>
            <legend>Details</legend>
              <attributes-list #lstAttributes [attributes]="attributes" [editing]="false" >
              </attributes-list>
          </fieldset>
          <br/>
              <fieldset>
                <legend>Events</legend>
                <ion-list-header *ngIf="events === undefined  || eventCount === 0">
                      No Events Found
                </ion-list-header>
                <ion-list #eventsList  *ngIf="events !== undefined  && eventCount > 0" >
                    <ion-item-sliding  *ngFor="let event of events" #slidingItem >
                        <ion-item button (click)="goToSessionDetail(event)">
                          <ion-label>
                            <div >
                              <label class="cell-block" >{{event.Name}}</label>
                              <div *ngIf="event.Private === true" class="cell-block" style="float:right;" >  
                                <ion-icon name='eye' slot="start" style="color:red;"   ></ion-icon>
                              </div>
                              <div class="cell-block" style="float:right;height:22px;width:22px;vertical-align: top;"   >
                                <img src="/assets/icon/{{item.Category | lowercase}}.svg" alt="{{item.Category}}" >
                              </div>
                            </div>
                            <p>
                              {{event.StartDate.split("T")[0] | date:'mediumDate' }} &mdash; {{event.EndDate.split("T")[0] | date:'mediumDate' }}: {{event.Location}}
                            </p>
                            
                          </ion-label>
                        </ion-item>
                    
                        <ion-item-options side="start" *ngIf="event.CreatedBy === sessionService.CurrentSession.UserUUID" >
                            <button ion-button style="background-color:#f04141;color:white;" (click)="deleteEvent(slidingItem,event)">Delete</button> 
                        </ion-item-options>
                        
              
                        <ion-item-options  >
                          <ion-item-option  *ngIf="sessionService.CurrentSession.UserUUID !== ''" color="favorite" (click)="addFavoriteItem(slidingItem, event)">
                            Favorite
                          </ion-item-option>
                          <ion-item-option  *ngIf="( item.CreatedBy === sessionService.CurrentSession.UserUUID || isAdminOrAbove === true)" 
                              color="light" (click)="editItem(slidingItem, event)">
                              Edit
                            </ion-item-option>
                          <ion-item-option *ngIf="segment === 'favorites' && event.CreatedBy === sessionService.CurrentSession.UserUUID" 
                          class="dangerColor" (click)="removeFavoriteEvent(slidingItem, event, 'Remove Favorite')">
                            Remove
                          </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
              </fieldset>
          <br/>
      
              
    </div>
    <div  *ngSwitchCase="'EVENT'" >
      <!--
        <img *ngIf="showPrimaryImage === true" text-center  [src]="item.Image  | getLargeImage" [alt]="item.Name"  style="display: block;margin: auto;" >
        -->
        <app-image-with-loading *ngIf="showPrimaryImage === true" text-center 
              image="{{item.Image  | getLargeImage}}"   >
        </app-image-with-loading>
        <br>
        <ion-button text-center  fill="clear" size="medium"  style="display: block;margin: auto;"  (click)="openHostSite(item)" 
          *ngIf="item.Url !== null && item.Url !== '' && item.Url !== undefined" >
          <ion-icon name="globe" slot="icon-only"></ion-icon>
          Website
        </ion-button>
        <div text-center style="display: block;margin: auto;"  >
             
            <p *ngIf="item.StartDate !== undefined" >{{item.StartDate.split("T")[0] | date:'mediumDate' }} &mdash; {{item.EndDate.split("T")[0] | date:'mediumDate' }} </p>
        </div>
        <div  [innerHTML]="item.Description"  >
          <!--
          <label style="color:black;">{{item?.Description}}</label>  -->
          <br/>
        <div>
            <ion-button text-center   size="medium"  style="display: block;margin: auto;"  (click)="openHostSite(item)" 
            *ngIf="item.Url !== null && item.Url !== '' && item.Url !== undefined" >
            View More
          </ion-button>
        </div>
        <div *ngIf="location !== undefined">
            <fieldset>
              <legend>Location</legend>
              <div>
              <label>{{location?.Name}}</label> <br/>
              </div>
              <div *ngIf="isNullOrWhitespace(location.Address1) === false">
                <label>{{location?.Address1}}</label><br/>
              </div>
              <div *ngIf="isNullOrWhitespace(location.Address2) === false">
                <label  >{{location?.Address2}}</label><br/>
              </div>
              <div *ngIf="isNullOrWhitespace(location.City) === false">
              <label>{{location?.City}}, {{location?.State}} {{location?.Postal}}</label> &nbsp;
              </div>
              <div *ngIf="isNullOrWhitespace(location.Country) === false">
                <label>{{location.Country}}</label><br/>
              </div>
              <div *ngIf="isNullOrWhitespace(location.Description) === false">
                <label>{{location?.Description}}</label>
              </div>
            
            </fieldset>
        </div>
    </div>
    <div  *ngSwitchCase="'POST'" >
      <h6>{{item.Name}}</h6>

      <fieldset>
        <legend>Details</legend>
        <ion-list>
          <ion-item *ngFor="let attr of item.Attributes">
            <label>{{attr?.Name}}</label><label>{{attr?.Value}}</label>
            <ion-rating [rate]="attr.Value" readonly="true" size="default" >

            </ion-rating>
          </ion-item>
        </ion-list>
        </fieldset>
        <br/>
        <fieldset>
          <legend>Review</legend>
            <div  
              [innerHTML]="item.Body" >
            </div>
        </fieldset>

    </div>
    <div *ngSwitchCase="'PROFILE'"  >
            <div text-center *ngIf="item && loading === false">
                <img [src]="item.Image  | getLargeImage" [alt]="item.Name" style="max-height: 320px;" >
            </div>
            <ion-list>
              <ion-item>
                <ion-label >Location</ion-label>  
                  <ion-label style="text-align: right;" >{{item?.LocationDetail?.Name}}</ion-label>
              </ion-item>
            </ion-list>   
            <ion-list>
                <ion-grid fixed>
                      <ion-row align-items-stretch>
                        <ion-col size="12" size-md="6" *ngFor="let profileMember of item?.Members; let i = index">
                           <ion-card class="speaker-card">
                            <ion-card-header>
                               <ion-item detail="false" lines="none" >
                                <ion-label style="text-align: left;width:100%;"   placeholder="Name"  name="name">
                                  {{profileMember.Name}} </ion-label>
                                     <img src="/assets/icon/{{profileMember.Gender | lowercase}}.svg" alt="{{item.Category}}" >
                              </ion-item>
                            </ion-card-header>
                            <ion-card-content>
                              <ion-list>
                                <ion-item>
                                 <ion-label  >Age</ion-label>
                                 <ion-label style="text-align: right;" >{{getAge(profileMember.DOB)}}</ion-label>
                                </ion-item>
                                <ion-item>
                                    <label>Height</label> 
                                    <ion-label style="text-align: right;" > {{profileMember.HeightLabel}} </ion-label>
                                </ion-item>
                                <ion-item>
                                    <label>Weight</label> 
                                    <ion-label style="text-align: right;"  type="text"   name="weight"   >
                                        {{profileMember.Weight}} </ion-label>
                                </ion-item>
                                <ion-item>
                                  <label>Orientation</label>
                                  <ion-label style="text-align: right;"  type="text"   name="weight"   >
                                      {{profileMember.Orientation}} </ion-label>
        
                                </ion-item>
                              </ion-list>
                            </ion-card-content>
                          </ion-card>
                        </ion-col>
                      </ion-row>
                </ion-grid>
           </ion-list>
              <div *ngIf="galleryImages!== null && galleryImages!== undefined && galleryImages.length > 0"   >
                 
                  <h6>Gallery {{showDesktopGallery}}</h6>
                  <ngx-gallery *ngIf="showDesktopGallery === true"  style="display: block;margin: auto;" 
                      [options]="desktopGalleryOptions" 
                      [images]="galleryImages"
                      (change)="onGalleryImageChange($event)"    >
                    </ngx-gallery>

                    <ngx-gallery *ngIf="showDesktopGallery === false"  style="display: block;margin: auto;" 
                    [options]="mobileGalleryOptions" 
                    [images]="galleryImages"
                    (change)="onGalleryImageChange($event)"     >
                  </ngx-gallery>
                </div>
                
              <div> 
                  <ion-label position="stacked">About</ion-label>
                <ion-textarea name="Description" style="min-height: 300px;" 
                disabled
                readonly 
                autosize 
                  value="{{item.Description}}" >
              </ion-textarea>
              </div>
              <br/>
              
              <div> 
                  <ion-label position="stacked">Looking for</ion-label>
                <ion-textarea
                disabled
                readonly
                autosize 
                 name="LookingFor" style="min-height: 300px;"  
                value="{{item.LookingFor}}" >
            </ion-textarea>

              </div>
              <br/>
              <div *ngIf="isLoggedIn === true" >
                  <div  *ngIf="messageSent === false && contactUser === false" > 
                      <button (click)="showEmailDialog(item)" type="button" class="login_btn"  ion-button expand="block">
                        <ion-icon name="mail"></ion-icon>&nbsp;Contact</button>
                  </div>
              </div>
              <br/><br/>
              <div style="padding-bottom: 5px;"  >
                  <ion-row  style="width:100%;align-content: center;" > 
                      <ion-col>
                  <button (click)="verify( item, item.AccountUUID )" style="background-color:green !important;"  
                    class="white_btn" type="button" expand="block">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                    Verify</button>
                  </ion-col>
                  <!--
                  <ion-col>
                    <button style="float:right;padding: 4px 12px;font-size: 12px;background: #f0d264;border-radius: 50px;" 
                    (click)="showVerifyRules();">Verification Rules</button>
                  </ion-col>
                -->
                </ion-row>
              </div>
                 
              
                    <ion-list >
                        <ion-item *ngIf="item !== undefined && item.Blocked === false">
                            <button slot="end" (click)="blockUser(item )" style="background-color:red !important;"  
                              class="danger_btn" type="button" expand="block">
                              <ion-icon name="thumbs-down"></ion-icon>Block</button>
                        </ion-item>
                    
                        <ion-item *ngIf="item !== undefined && item.Blocked === true">  
                            <button (click)="unBlock(item )" style="background-color:gray !important;" 
                              class="danger_btn" type="button" expand="block">
                              <ion-icon  style="padding-right: 5px;" name="person"></ion-icon> Block</button>
                      </ion-item>  
                    </ion-list>
             
                    <ion-list lines="none" >
                        <ion-item *ngIf="isAdminOrAbove == true" >
                              <ion-button slot="end" style="float:right;"   type="button" color="light" 
                                (click)="banUser(profileMember.UserUUID)" label="Ban">
                                <ion-icon name="warning"></ion-icon>Ban User</ion-button>
                        </ion-item>
                      </ion-list>
                        
    </div>
    <div *ngSwitchDefault  >
      <!-- todo something here, like show affiliate-->
    </div>
  </div>
  </div>

  <!--

      <div *ngIf="canEditHost() === true" >
        <ion-button *ngIf="editing === false" fill="clear" size="medium"  (click)="editHost()" >
          <ion-icon name="md-create" slot="icon-only"></ion-icon>
        </ion-button>
        <span>
            <ion-button  style="color:green;" *ngIf="editing === true" fill="clear" size="medium"  (click)="saveHost()" >
            <ion-icon name="done-all" slot="icon-only"></ion-icon> 
            </ion-button>
          <ion-button style="color:red;" *ngIf="editing === true" fill="clear" size="medium"  (click)="cancelEditHost()" >
            <ion-icon name="close-circle" slot="icon-only"></ion-icon> 
          </ion-button>
        </span>
      </div>
     <div *ngIf="editing === true"  >
          <ion-input [(ngModel)]="item.WebSite" placeholder="WebSite" name="WebSite" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
      </div>
     <div *ngIf="editing === true" >
      <label class="fileInput">
        <input type="file"  name="file-1[]" id="file-1" multiple  required   (change)="changeImageEvent($event, 0)" />
        <span>Change Image</span>
      </label>
      <label *ngIf="hasCamera" (click)="getPicture()"  class="lblButton" >
        <ion-icon name="camera" style="width:20px;height: 17px;" > </ion-icon>
      </label>
    </div>
    <ion-list *ngIf="editing === true">
        <ion-item>
          <ion-input [(ngModel)]="item.Name" placeholder="Host Name" name="name" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea [(ngModel)]="item.Description" placeholder="Host Description" name="description" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"            >
            </ion-textarea>
        </ion-item>
    </ion-list>
  <geolocation-component (eventSaveData)="saveEvent( )" 
  *ngIf="editing === true"
    #geoLocation 
    mapOnly="true"
    ShowSaveAddButton="false"
    ShowSaveButton="false"
    ShowChangeLocationButton="false"
    ShowPreviousLocationsCBO="false"
    UUID="{{eventLocationUUID}}"
    UUIDType="'Location'"
    [isNew]="isNew" >
</geolocation-component>
-->
</ion-content>