<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="support-logo">
    <img src="assets/img/header.dark.png" alt="GreenWerxLogo">
  </div>
 

  <ion-spinner *ngIf="processing === true"  style="display: block;margin: auto;"  ></ion-spinner>
  <div *ngIf="submitted === true && processing === false" >
      <div  innerHtml="{{result}}" style="display: block;margin: auto;"></div>
  </div>
  <ion-list>
    <ion-item>
      <ion-select id="cboSupportOptions" name="cboSupportOptions"
            placeholder="Select Option"
            okText="Okay" cancelText="Dismiss"
            [(ngModel)]="supportOption"
            (ngModelChange)="onSelectSupportOption($event)" >
          <ion-select-option  value="sendMessage" >Send Message</ion-select-option>
          <ion-select-option  value="resetPassword" >Reset Password</ion-select-option>
          <ion-select-option  value="sendAccountInfo" >Send Account Info</ion-select-option>
      </ion-select>   
    </ion-item>
  </ion-list>
  <form *ngIf="processing === false && submitted === false" #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)">
    <ion-list lines="none">
        <ion-item>
            <ion-label position="stacked" color="primary">Your Email</ion-label>
              <ion-input [(ngModel)]="message.EmailFrom" name="email" type="text" #email="ngModel" required>
              </ion-input>
            <ion-text  class="dangerColor">
              <p [hidden]="hideEmailError()" padding-left>
                Email is required
              </p>
            </ion-text>
          </ion-item>
      <ion-item *ngIf="showSupportQuestion === true">
        <ion-label position="stacked" color="primary">Enter your support message below</ion-label>
        <ion-textarea [(ngModel)]="message.Body" name="supportQuestion" #supportQuestion="ngModel" rows="6" ></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-text  class="dangerColor">
      <p [hidden]="hideCommentError()" padding-left>
        Support message is required
      </p>
    </ion-text>
    <div padding>
      <button expand="block" class="register_angkar_btn" type="submit">Submit</button>
    </div>
  </form>
</ion-content>
