   <ion-header>
     <ion-toolbar color="primary">
       <ion-buttons slot="start">
         <ion-button class="button button-clear" (click)="goBack()">
           <ion-icon name="arrow-back"></ion-icon>
         </ion-button>
       </ion-buttons>
       <div padding>
         <ion-segment [(ngModel)]="segment" name="segment" (ionChange)="segmentClicked()">
           <ion-segment-button value="dashboard">Dashboard</ion-segment-button>
           <ion-segment-button value="logs">Logs</ion-segment-button>

         </ion-segment>
       </div>
     </ion-toolbar>
   </ion-header>


   <ion-content>

     <div *ngIf="segment === 'logs'">

       <div [ngSwitch]="viewType">
         <div *ngSwitchCase="'ACCESSLOG'"></div>
         <div *ngSwitchCase="'REQUESTLOG'"></div>
         <div *ngSwitchCase="'STAGEDDATA'">
           <!--lst staged data Name where not published/synced-->
           <ion-card-content>
             <ion-list>
               <ion-item>
                 <div style="float:left;width: 50%;">
                   <ion-select id="cboStagedDataTypes" name="cboStagedDataTypes" placeholder="Select Type" okText="Okay"
                     cancelText="Dismiss" [(ngModel)]="selectedDataType"
                     (ngModelChange)="onCboChangeStagedDataType($event)">
                     <ion-select-option *ngFor="let type of stagedDataTypes" [value]="type">{{type}}</ion-select-option>
                   </ion-select>
                 </div>

                 <div style="float:right;width:50%;">
                   <button class="register_angkar_btn" (click)="mergeItems()" type="button">
                     Merge
                   </button>
                 </div>
               </ion-item>

             </ion-list>
           </ion-card-content>
         </div>
         <div *ngSwitchCase="'SYSTEMLOG'"></div>
       </div>
       <div style="float:left;width: 50%;">
        <!--selectMergeItem
          <app-logs-page-lists #lstItems
          
            (listUpdate)='listUpdated($event)'
            (selectMergeItemEmitter)="selectMergeItem($event)"
              [selectedDataType]="selectedDataType"

            ></app-logs-page-lists>
            -->
        </div>
        <div style="float:right;width: 50%;">
           <ion-virtual-scroll *ngIf="selectedDataType !== ''"   #ctlSelectedTypeList   [items]="selectedTypeList"   > 

            <ion-item-sliding #slidingItem *virtualItem="let item">
                <ion-item button id="{{item.UUID}}" (click)="selectTargetItem(item)">
                  <div style="align-content: left;width:45%;">{{item.Name}}</div>
                 
                 </ion-item>    
            </ion-item-sliding> 
          </ion-virtual-scroll> 
          <!--
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreInViewPort($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
            -->
          </div>

     </div>
     <!--logs content-->

     <div *ngIf="segment === 'logs'">
       <ion-fab vertical="bottom" horizontal="end" #fab>
         <ion-fab-button #fabButton (click)="toggleList(fabButton, fabList)">
           <div [ngSwitch]="viewType">
             <span *ngSwitchCase="'ACCESSLOG'">
              <ion-icon name="people"></ion-icon>
             </span>
             <span *ngSwitchCase="'REQUESTLOG'">
              <ion-icon name="resize"></ion-icon>
             </span>
             <span *ngSwitchCase="'STAGEDDATA'">
              <ion-icon name="reverse-camera"></ion-icon>
               <!--cbo [StageData].DataType-->

             </span>
             <span *ngSwitchDefault>
               <!--SYSTEMLOG -->
               <ion-icon name="laptop"></ion-icon>
             </span>
           </div>
         </ion-fab-button>
         <!--if they type isn't selected then show it in the popup -->
         <ion-fab-list #fabList side="top">
           <ion-label *ngIf="viewType !== 'ACCESSLOG'" (click)="loadTypes('ACCESSLOG', fab)"
             style="cursor: pointer;right: 25px;position:relative;padding: 10px;background-color:#3880ff;color:white;  text-align: center; border-radius: 25px;line-height: 24px;">
             Access Log</ion-label>
           <br />
           <ion-label *ngIf="viewType !== 'REQUESTLOG'" (click)="loadTypes('REQUESTLOG', fab)"
             style="cursor: pointer;right: 25px;position:relative;padding: 10px;background-color:#3880ff;color:white;  text-align: center; border-radius: 25px;line-height: 24px;">
             Request Log</ion-label>
           <br />
           <ion-label *ngIf="viewType !== 'STAGEDDATA'" (click)="loadTypes('STAGEDDATA', fab)"
             style=" cursor: pointer;right: 25px;position:relative;padding: 10px;background-color:#3880ff;color:white;  text-align: center; border-radius: 25px;line-height: 24px;">
             Stage Data</ion-label>
           <br />
           <ion-label *ngIf="viewType !== 'SYSTEMLOG'" (click)="loadTypes('SYSTEMLOG', fab)"
             style="cursor: pointer;position:relative;padding: 10px;background-color:#3880ff;color:white;  text-align: center; border-radius: 25px;line-height: 24px;">
             System Log</ion-label>
         </ion-fab-list>
       </ion-fab>
     </div>
   </ion-content>