
// This stops the dropdown from being transparent.
.ui-dropdown-panel .ui-dropdown-item {
    background-color: white !important;
    margin:0px !important;
    }

 
.item-inner{
    border-style: unset !important;
    --inner-border-width: 0;
    --border-width: 0 0 0.55px 0;
    background-color: red;
    }

    .list-ios:not(.list-inset):not(.list-ios-lines-none) .item:last-child {
        --inner-border-width: 0;
        --border-width: 0 0 0.55px 0;
    }

    .list a.item
{
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 0px;
}
