<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/header.dark.png" alt="GreenWerxlogo">
  </div>

  <ion-spinner *ngIf="processing === true"  style="display: block;margin: auto;"  ></ion-spinner>
  <div  style="display: block;margin: auto;" *ngIf="showMessage === true" innerHtml="{{message}}" > </div>
  
  <form #loginForm="ngForm" novalidate  *ngIf="processing === false"  >
    <ion-list>
      <ion-item>
        <!-- <ion-label position="stacked" color="primary">Username</ion-label>-->
        <ion-input placeholder="Username" [(ngModel)]="login.UserName" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>

      <ion-text  class="dangerColor">
        <p [hidden]="username.valid || submitted == false" padding-left>
          Username is required
        </p>
      </ion-text>

      <ion-item>
       <!-- <ion-label position="stacked" color="primary">Password</ion-label>-->
        <ion-input placeholder="Password" [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text  class="dangerColor">
        <p [hidden]="password.valid || submitted == false" padding-left>
          Password is required
        </p>
      </ion-text>

      <ion-item>
        <ion-checkbox [(ngModel)]="login.RememberMe" name="RememberMe" ></ion-checkbox>
         &nbsp; <ion-label color="primary" fixed>Stay Logged In</ion-label>
      </ion-item>
    </ion-list>
  
   
    <div style="text-align: center; margin: auto;">
        <ion-row  style="width:100%;align-content: center;" > 
            <ion-col> 
              <button (click)="onLogin(loginForm)"  class="login_btn" type="button" expand="block">Login</button>
            </ion-col>
            <ion-col>
                <button (click)="onSignup()" class="white_btn"  expand="block">Signup</button>
            </ion-col>
          </ion-row>
        </div>
    
  </form>

</ion-content>
