<ion-header>
        <ion-toolbar>
          <ion-title>
            Change Password
          </ion-title>
         
        </ion-toolbar>
      </ion-header>
   <ion-content>
    <ion-spinner *ngIf="loading === true"  style="display: block;margin: auto;"  ></ion-spinner>
    <form *ngIf="loading === false" #frmChangePassword="ngForm" novalidate>
        <ion-list>
            <ion-item *ngIf="resetPassword === false">
                <ion-label position="stacked" color="primary">Password</ion-label>
                <ion-input [(ngModel)]="passwordForm.OldPassword" name="password" type="password" #password="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-item>
            <ion-label position="stacked" color="primary">New Password</ion-label>
            <ion-input [(ngModel)]="passwordForm.NewPassword" name="newpassword" type="password" #password="ngModel" required>
            </ion-input>
            </ion-item>
            <ion-text  class="dangerColor">
            <p [hidden]="submitted == false && passwordForm.NewPassword === ''" padding-left>
                Password is required
            </p>
            </ion-text>
    
            <ion-item>
                <ion-label position="stacked" color="primary">Confirm Password</ion-label>
                <ion-input [(ngModel)]="passwordForm.ConfirmPassword" name="confirmPassword" type="password" #confirmPassword="ngModel" required>
                </ion-input>
            </ion-item>
            <ion-text  class="dangerColor">
                <p [hidden]="passwordForm.ConfirmPassword === passwordForm.NewPassword || submitted == false" padding-left>
                Passwords must match.
                </p>
            </ion-text>
      </ion-list>
  
      <div padding>
        <div><label style="color:red;" *ngIf="error !== ''" >{{error}}</label></div>
        <button (click)="onSave(frmChangePassword)" class="register_angkar_btn" type="button" expand="block">Save</button>
        <br/><br/>
        <button (click)="dismiss()" class="white_btn" type="button" expand="block">Cancel</button>
      </div>
    </form>
  
</ion-content>