<ion-content>
  <ion-list>
    <!--
    <div  *ngFor="let group of groups" >
      <ion-item class="item-stable"
                (click)="toggleGroup(group)"
                [class]="{active: isGroupShown(group)}">
          <i class="icon" [class]="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Group {{group.name}}
      </ion-item>
      
        <ion-item class="item-accordion" 
          *ngFor="let item of group.items"
          *ngIf="isGroupShown(group)">
          {{item}}
        </ion-item>
      
    </div>
    -->
  </ion-list>
</ion-content>